<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">지원하기!</h2>
                <hr class="primary">
				<div class="form-group">
				<form action="https://formspree.io/handskoreauniv@gmail.com" method="POST">
					<div class="row">
						<input type="text" name="name" id="name" value="" placeholder="이름" class="form-control"/>
					</div>
					<div class="row">
						<input type="email" name="_replyto" id="email" value="" placeholder="이메일" class="form-control"/>
					</div>
					<div class="row">
						<textarea name="message" id="message" placeholder="지원동기" rows="6" class="form-control"></textarea>
					</div>
					<div class="row">
						<input type="submit" value="Submit" class="btn btn-default btn-xl" />
					</div>
				</form>
				</div>
				<hr>
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>

		
		</div>
</section>
