<section id="contact">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 text-center row">
            <h2 class="section-heading">지원하기!</h2>
            <hr class="primary">
			<div class="form-group col-md-6 col-md-offset-3">
				<form action="https://formspree.io/handskoreauniv@gmail.com" method="POST">
					<div class="row">
						<input type="text" name="name" id="name" value="" placeholder="이름" class="form-control"/>
					</div>
					<div class="row">
						<input type="email" name="_replyto" id="email" value="" placeholder="이메일" class="form-control"/>
					</div>
                    <br />
					<div class="row">
						<textarea name="message" id="message" placeholder="지원동기(학회실와서 가입원서를 작성하게 되니까 간략해도 좋아요^^)" rows="6" class="form-control"></textarea>
					</div>
                    <br />
					<div class="row">
						<input type="submit" value="Submit" class="btn btn-primary btn-xl" />
					</div>
				</form>
			</div>
        </div>
		<hr>
        <br />
        <div class="row">
            <div class="col-xs-6 col-sm-3  text-center">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.twitter_username }}</p>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 text-center">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 text-center">
                <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.github_username }}</p>
                </a>
            </div>
            <div class="col-xs-6 col-sm-3 text-center">
                <a href="https://facebook.com/groups/{{ site.facebook_groupname }}">
                <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.facebook_groupname }}</p>
                </a>
            </div>
        </div>
    </div>
</section>
