<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-3 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 text-center">
                <a href="https://github.com/{{ site.github_username }}">
                    <i class="fa fa-github fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 text-center">
                <a href="https://facebook.com/groups/{{ site.facebook_groupname }}">
                    <i class="fa fa-facebook fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
            <div class="col-xs-4 col-sm-3 text-center">
                <a href="https://hardwareand.software">
                    <i class="fa fa-users fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                </a>
            </div>
        </div>
    </div>
</section>
