<section id="exhibition">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">HandS 2020 - 2021 전시회</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-8 col-lg-offset-2 text-center row">
                HandS 2020 - 2021 전시회 보러가기<br />
                <img src="img/exhibit_source.jpg" style="width: 60%;">
                <div class="service-box">
                    <a href="https://www.hands2021.com/" class="btn btn-primary btn-xl page-scroll wow tada">전시회
                        둘러보기</a>
                </div>
            </div>
        </div>
    </div>
</section>