<section id="give">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">기부 문의</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-xs-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary"></i>
                    <h3>기부 참여 방법</h3>
                    <br />
                    <p class="text-muted"> 누구나 편리하게 참여 하실 수 있습니다.</p>
                    <div class="service-box">
                        <a href="https://drive.google.com/file/d/1Rdp2VIR-w8Cw9875px0wniZa8F5HCyUJ/view?usp=sharing" class="btn btn-primary btn-xl page-scroll wow tada">
                            기부 참여 방법 자세히 보기</a>
                    </div>
                    <br />
                    <br />
                    <br />
                    <p class="text-muted"> 기부는 대외협력처 홈페이지에서 가능합니다.</p>
                    <div class="service-box">
                        <a href="https://give.korea.ac.kr/front/main.do" class="btn btn-primary btn-xl page-scroll wow tada">
                            대외협력처 홈페이지 바로가기</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-align-left wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>HandS를 위해 기부해주신 분들</h3>
                    <br />
                    <p class="text-muted">90학번 정은철 선배님 <br />
                                91학번 배세영 선배님 <br />
                                92학번 설진웅 선배님 <br />
                                93학번 문사랑 선배님 <br />
                                94학번 임예진 선배님 <br />
                                95학번 백준성 선배님 <br />
                                96학번 장민자 선배님 <br />
                                97학번 전경모 선배님 <br />
                                98학번 백윤아 선배님 <br />
                                99학번 장주희 선배님 <br />
                                00학번 허한길 선배님 <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
