<section id="hanssogong">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">핸즈 쏘품 공모전</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6 col-xs-12 text-center">
                <img src="img/1st.svg" class="prize">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://drive.google.com/file/d/1DtoleeeLYiTvbG5eP3uIb4j5P4GDXIgb/preview" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 text-center">
                <img src="img/2nd.svg" class="prize">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://drive.google.com/file/d/19UXLzGKgKQWAqh-d9QShY8WewaHxiTWI/preview" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 text-center">
                <img src="img/3rd.svg" class="prize">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://drive.google.com/file/d/1KhowCV2W9sAc7G4g6KljVGNR8fHN2DBP/preview" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
