<section id="history">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">핸즈의 연혁</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>언제 시작했나요?</h3>
                    <p class="text-muted">1981 핸즈 스터디그룹 조직<br />1985 핸즈 조직, 고려대 전자공학과 전자전시회 주관<br />1990 제 1회 HandS 전시회 개최<br />2016 HandS 30주년 행사<br />2018 졸업생 144명 배출 </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-trophy wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>주요 수상실적</h3>
                    <p class="text-muted">...<br/>2017 임베디드소프트웨어 경진대회 본선진출<br />2017 창의적 종합설계 경진대회 은상<br />2017 자기주도창의설계프로그램 우수상<br />etc</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>장소</h3>
                    <p class="text-muted">신공학관 109호</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>주요 활동분야</h3>
                    <p class="text-muted">라인트레이서<br />로봇<br />3D 프린터<br />웹 프로그래밍<br />자유주제</p>
                </div>
            </div>
        </div>
    </div>
</section>
