<section id="history">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">핸즈의 연혁</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>언제 시작했나요?</h3>
                    <p class="text-muted">1981 핸즈 스터디그룹 조직<br />1985 핸즈 조직, 고려대 전자공학과 전자전시회 주관<br />1990 제 1회 HandS 전시회 개최<br />2016 졸업생 131명 배출 </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-trophy wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>주요 수상실적</h3>
                    <p class="text-muted">2003 8051 응용제어 경진대회 우승<br />2003 세계로봇축구대회 Simulosot 부문 준우승<br />2006 로봇항공기대회 7위 입상<br />2012 삼성 테크윈 로봇 멤버쉽 우수상 수상<br />2013 창의적 설계 경진대회 은상 수상<br />2015 철도청 무인 열차 프로젝트 진행<br />등등등</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Location</h3>
                    <p class="text-muted">신공학관 109호</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>주요 활동분야</h3>
                    <p class="text-muted">라인트레이서<br />로봇만들기<br />머신러닝<br />웹 프로그래밍<br />자유주제</p>
                </div>
            </div>
        </div>
    </div>
</section>
