<section class="no-padding" id="toy-contest">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">2020 장난감 만들기 대회</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/UyeuJPGaU3c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-lg-4 col-sm-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/GC7pwsowJAw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-lg-4 col-sm-6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/sOttN7mBg_g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
